@tailwind base;
@tailwind components;
@tailwind utilities;
$primaryColor: #282c35;
body {
    color: $primaryColor;
    background-color: #fff;
    font-size: 16px;
}

header {
    background-color: $primaryColor;
    color: #fff;
}