@tailwind base;
@tailwind components;
@tailwind utilities;
$primaryColor: #282c35;
body {
    color: $primaryColor;
    background-color: #fff;
    font-size: 16px;
}

header {
    background-color: $primaryColor;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

header {
    position: sticky;
    top: 0;
    z-index: 550;
}